html, body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 150px;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: white;
}

.cart-container {
    width: 85%;
    margin-inline: auto;
}

.empty-cart {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 110px;
}

.product-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 80px;
    margin-bottom: 10px;
}

.product-image-container {
    padding: 20px;
    background-color: white;
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image {
    max-width: 80%;
    max-height: 90%;
}

.details-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
}

.quantity-and-delete-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}

.quantity-input {
    height: 20px;
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 1rem;
    padding: 10px 15px;
    width: 7ch;
}

.delete-button {
    width: 30px;
    cursor: pointer;
}

.cart-summary-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 85%;
    margin-top: 70px;
    margin-inline: auto;
}

.cart-summary-heading{
    text-align: center;
    margin: 0;
}

hr {
    width: 100%;
    margin: 0;
}

.cart-summary-first-sub-container {
    margin-top: 40px;
}

.checkout-button {
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 1.4rem;
    padding: 15px 10px;
    width: 100%;
    margin-top: 40px;
    transition: all 0.2s;
}

.checkout-button:hover {
    background-color: rgb(140, 78, 255);
    border: 1px solid rgb(140, 78, 255);
}

.checkout-container {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    z-index: 100;
}

input {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    transition: all 0.2s;
}

input:hover {
    border: 1px solid rgb(140, 78, 255);
}


.checkout-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.checkout-heading {
    font-size: 1.8rem;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.5rem;
}

.checkout-form-input-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.submit-button {
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 1.3rem;
    padding: 15px 10px;
    width: 100%;
    transition: all 0.2s;
}

.submit-button:hover {
    background-color: rgb(140, 78, 255);
    border: 1px solid rgb(140, 78, 255);
}

.active-checkout {
    display: block;
}

.checkout-finished {
    position: fixed;
    left: 5%;
    right: 5%;
    top: 100px;
    background-color: black;
    border: 1px solid white;
    opacity: 0.9;
    padding: 20px 40px;
    text-align: center;
    display: none;
}

.close-checkout-message {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    cursor: pointer;
}

@media (width <= 850px) {
    body {
        padding-top: 130px;
    }

    .cart-container {
        width: 90%;
    }

    .product-container {
        margin-bottom: 15px;
    }

    .details-container {
        display: block;
    }

    .quantity-and-delete-wrapper {
        padding: 0;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        gap: 30px;
    }
}

@media (width <= 670px) {
    .details-container {
        font-size: 1.2rem;
    }

    .previous-price {
        font-size: 0.9rem;
    }

    .quantity-input {
        height: 16px;
    }
    
    .delete-button {
        width: 25px;
    }    

    .product-container {
        grid-template-columns: 130px 1fr;
        gap: 70px;
        margin-bottom: 15px;
    }
    
    .product-image-container {
        width: 130px;
        height: 130px;
    }
}

@media (width <= 475px) {
    .details-container {
        font-size: 1rem;
    }  

    .previous-price {
        font-size: 0.8rem;
    }

    .product-container {
        grid-template-columns: 100px 1fr;
        gap: 55px;
        margin-bottom: 35px;
    }
    
    .product-image-container {
        padding: 20px;
        width: 100px;
        height: 120px;
    }
    
    .product-image {
        max-width: 80%;
        max-height: 90%;
    }

    .quantity-input {
        height: 12px;
    }
    
    .delete-button {
        width: 23px;
    }

    .checkout-heading {
        font-size: 1.4rem;
    }

    .checkout-form {
        font-size: 1.2rem;
    }

    .submit-button {
        font-size: 1.2rem;
    }
}